{% extends 'index.html' %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'main/style.css' %}">
<style>

</style>

{% block contents %}
<center>
<form method="post">
  <h3>칼로리 계산기  <img src="{% static 'main/cal.png' %} " width="60" height="60"></h3>
  <br>
<h3>
  {% csrf_token %}
  {% for field in form %}
  <div>{{field}}</div>
{% endfor %}
</h3>
  <input style="width: 273px;" type="submit" class="btn btn-success" value="계산하기"> <br>


</form>
<br><br>
<form action="diet" method="POST">
  {% csrf_token %}
  <input type="hidden" name="Calories" value="{{Calorie}}">
  <input type="hidden"name="Proteins" value="{{Proteins}}">
  <input type="hidden"name="Carbs" value="{{Carbs}}">
  <input type="hidden"name="Fats" value="{{Fats}}">
  <ul class="results"><h3>
    <li>하루 섭취 칼로리 및 영양소(권장)</li></h3>
    <li>칼로리(소모) : {{Calorie}} <br></li>
    <li>단백질 : {{Proteins}}g<br></li>
    <li>탄수화물 : {{Carbs}}g<br></li>
    <li>지방 : {{Fats}}g<br></li>
  </ul>
</form>
  <br>

</div>
<script >
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </script>

<script src="{% static 'main/script.js' %}"></script>
    </center>
{% endblock contents %}
