.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 372px;
  box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 43px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 428px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}